<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.mkch.MobileMkch.backgroundrefresh</string>
	</array>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Нужно для выбора фото и загрузки вложений</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>background-processing</string>
		<string>background-fetch</string>
		<string>fetch</string>
		<string>processing</string>
	</array>
</dict>
</plist>
